/* body{
    height: 825px;
} */

.isi {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100px;
    max-width: 442px;
    height: 90%;
    transform: translate(-50%, -50%);
}

.tengah label {
    width: 50%;
}

.tengah {
    display: flex;
    justify-content: center;
    text-align: center;
}

.btnReset {
    background: #368CD0;
    color: white;
    height: 40px;
    margin: 10px 3px 25px 3px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.tmblD {
    float: left;
    display: flex;
    width: 50%;
    margin-top: 20px;
    /* background-color: #000000; */
}

a p {
    max-width: 40%;
    float: right;
    margin: 20px 15px 35px 0;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* backgrotopund-color: #000000; */

}

.btnDone {
    width: 160px;
    height: 40px;
    font-size: 17px;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    border: 1px;
}


/* fieldset {
    border: none;
    padding: 0.1rem 1rem;
}

form{
    min-width: fit-content;
    max-width: 393px;
    max-height: 375px
}

.logo p{
    font-size: 30px;
    margin-left: 10px;
} */

/* body{
    position: relative; 
    width: 100%;
    height: 825px;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: linear-gradient(160.27deg, rgba(71, 165, 255, 0.33) 1.85%, rgba(205, 233, 255, 0.78) 50.26%, rgba(244, 249, 253, 0.67) 86.8%);
}

.head{
    margin-left: 34px;
    width: 277px;
    height: 56px;
    left: 39px;
    top: 17px;
}

input{
    margin: 0px 0 15px 0;
    width: 100%;
    height: 30.1px; 
    background-color: #FFFFFFE0;
    border-radius: 10px;
    border : 2px solid #368CD0;
}


label{
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    color: #000000;
} */

/* .reset img{
    width: 100px;
    margin:  auto;
    display: block;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
} */

/* .head img{
    width: 168px;
}

p{
    text-align: center;
    font-size: 16px;
}

a{
    color:#000000;
} */